* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* 1.KISIM */
.sector-1 {
  width: 100%;
  height: 100%;
}
.baslik {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
}
div > img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
div > h1 {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 48px;
  font-size: 48px;
  letter-spacing: 10px;
  background-color: rgb(76, 76, 76);
  padding: 30px;
  border-radius: 30px 0px 30px 0px;
  outline: 10px inset rgb(166, 76, 166);
  outline-offset: 10px;
}
/* 2.KISIM */
